*{
  margin: 0px;
}

main {
  background-image: url("https://i.pinimg.com/originals/71/8f/89/718f89d54df6620d53cfb4a2b0495df8.jpg");
  background-size: cover;
  background-color: #FFB6C1;
  background-position: center center;
  background-attachment: fixed;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
  
header {
  width: 100vw;
  height: 108px;
}

body{
  text-align: center;
}

.navbar-brand {
  font-size: 28px;
}

nav{
  display: flex;
  justify-content:center;
  width:100%;
}

nav a{
  margin: 0 1em;
  text-decoration: none;
  color:rgb(255, 236, 63);
}

button {
  background-color: #FFDE00;
  width: 30%;
  margin: 15px;
  display: center;
  padding: auto;
  justify-content: center;
  font-family: 'Play', sans-serif;


}

div{
  background-color: coral;
  display: center;
  padding: auto;
  justify-content: center;
  font-family: 'Play', sans-serif;
}

span{
  width: 15%;
  margin: auto;
  display: center;
  padding: auto;
  justify-content: center;
  font-family: 'Play', sans-serif;
}

#results {
  font-size: 18px;
}

.pokémon-name{
  display: center;
  padding: auto;
  justify-content: center;
  font-family: 'Play', sans-serif;
}

img{
  width: 200px;
  border: 7px;
  border-radius: 20px;
  padding-top: 0%;
}

.pokéBall{
  width: auto;
}


.about, article{
  width: 25%;
  margin: auto;
  display: center;
  padding: 90px;
  display: flexbox;
  justify-content: center;
  font-family: 'Play', sans-serif;
}

marquee{
  padding: 10px;
}

.Pokemon-History{
  padding: 5px;
}

a{
  padding: 10px;
}

ul.hover{
  background-color: #FFDE00;
}

@media screen and (max-width: 768px){
  app, body{
    width: 100%;
  }
}

@media screen and (max-width: 320px){
  app, body{
    width: 100%;
  }
}






